<!DOCTYPE html>
<html>
<head>
    <title>Customized Chatbot</title>
</head>
<body>
    <h1>Customized Chatbot</h1>
    <form id="chatbot-form" action="/demo-customized-chatbot" method="POST">
        <input type="text" name="question" placeholder="Enter your question" required>
        <button type="submit">Submit</button>
    </form>
    <div id="response-container">
      {% for question, response in questions %}
      <p><strong>Question:</strong> {{ question }}</p>
      <p><strong>Response:</strong> {{ response }}</p>
      {% endfor %}
  </div>
  
  

    <script>
        // Optional: Scroll to the bottom of the response container
        var responseContainer = document.getElementById("response-container");
        responseContainer.scrollTop = responseContainer.scrollHeight;
    </script>
</body>
</html>

